.mouse {
    display: inline-block;
    width: 26px;
    height: 38px;
    border: 3px solid #ffffff;
    border-radius: 13px;
    position: relative;
}
    .mouse > .wheel {
        display: inline-block;
        width: 3px;
        height: 6px;
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #ffffff;
        border-radius: 8px;
        animation-name: scrolling;
        animation-duration: 2s;
        /* tuo kuo baigei, tuo ir pasilik */
        animation-fill-mode: forwards;
        /* ease in - lengva pradzia, linear visada vienodas greitis, steps - laipteliais */
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        /* animavimo kriptis */
        /* animation-direction: alternate-reverse; */
    }
    /* hover - kai kursorius uzbega ant objekto ir aprasome, ka darome toliau
    .mouse > .wheel :hover {
        } */
@keyframes scrolling {
    0% {
        top: 6px;
        /* background-color: rgb(2555, 2555, 255, 1); */
        opacity: 1;
    }
    30%% {
        opacity: 1;
    }
    100% {
        top: 20px;
        opacity: 0;
        /* background-color: rgb(2555, 2555, 255, 0); */
        /* background-color: transparent; */
    }
    
}